@model StoreASP.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazvanieProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazvanieProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opisanie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opisanie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostSales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostSales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imei)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imei)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoryNavigation.NazvanieCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMarkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMarkNavigation.NazvanieMark)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProduct">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
