@model StoreASP.Models.Discount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Discount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazvanieSkidki)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazvanieSkidki)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountSum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDiscount">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
