@model IEnumerable<StoreASP.Models.Discount>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazvanieSkidki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountSum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazvanieSkidki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountSum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDiscount">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDiscount">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDiscount">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
