@model StoreASP.Models.Postavka

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Postavka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPostavka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPostavka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostZakupki)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostZakupki)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPostavka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPostavka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProviderNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProviderNavigation.IdProvider)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPostavka">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
